@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This site will be slowly transforming from the stock sample application into something
        that I want. I'm in the process of switching hosts, I'd like to get this site running in
        Azure as it looks like the hosting fees will be smaller.
    </p>
</article>

<aside>
    <h3>Useless navigation</h3>
    <p>
        Here are some useless navigation links into the site.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>