@model Mumfordland.Models.FrontPageModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@Model.Headline</h2>
            </hgroup>
            <p>
                @Model.Details
            </p>
        </div>
    </section>
}
<h3>What's the latest:</h3>

@foreach (var article in Model.RecentArticles)
{
    <article>
        <header><h1>@article.Title</h1></header>
        <div class="subtitle">@article.PublicationDate.ToShortDateString()</div>
        @Html.Raw(article.Body)
    </article>
}

<article>
    <header><h1>Skip the boring bits</h1></header>
    <div class="subtitle">10/29/2013</div>
    <p>
        We are now three sessions into ou <a href="http://www.numenera.com/">Numenera</a> campaign and
        I've found it to be really fun so far. The setting is pretty wide open, but encourages exploration
        of the weird side of things. The rules are simple, but still allow for a lot of choice. I've also
        found the trade off of stat pools for reducing the difficulty of checks to be elegant and
        fulfilling. However, my big takeaway right now is it's philosophy about running games; focus on 
        what's intersting.
    </p>
    <p>
        I run my own 
        <a href="http://www.amazon.com/Dungeons-Dragons-Fantasy-Roleplaying-Game/dp/0786956291/ref=sr_1_2?ie=UTF8&qid=1383081093">4e Dungeons and Dragons</a>
        game, and have battled with pacing in that game since we started. Fourth Edition easily gets bogged 
        down in massively long combat encounters, and it gets a bit tiresome from time to time. I'll get 
        fatigued when we have a two hour encounter, only to have the group get caught up in another encounter
        shortly after. Looking back on those sessions makes me frustrated because I'll see just how little the
        world has progressed. I've started to address this with what I've been reading in Numenera. Page 343 of the 
        Numenera corebook probably sums up what I've been doing that has reinvigorated my 4e campaign.
    </p>
    <p>
        Skip the boring bits.
    </p>
    <p>
        When I first started putting this idea to work, I was skipping over mostly narrative aspects of the game.
        I didn't care so much about what was happening on a trip from the town the group was in to their destination.
        It wasn't interesting to delay the arrival, so I would summarize it and skip ahead. I had been handling
        things like this for a long time, so this wasn't a big change. I also started skipping over certain 
        rolls for skill checks. If a skill check didn't have any interesting consequences upon failure then
        the skill check would be dropped. This made searching for loot go a lot faster, and the players got
        what they wanted without jumping through hoops. That was the easy stuff to adjust, and I had been doing a lot
        of it for a while. My next step in skipping the boring bits would be a bit bigger, combat.
    </p>
    <p>
        Combat encounters in 4e tend to get boring toward the end. The group has dispatched nearly all of the
        enemies and is now just mopping things up. That's where combat gets really boring. Once the outcome is
        inevitable I just want to end combat. So now I do just that. Once I see the point of combat where the group
        will handily wipe the rest of the monsters out I find some way to end things. Sometimes the monsters run away, 
        sometimes I just tell the group they have no trouble putting that last goblin to the sword. It's basically
        the same thing that happens if we were to play it out, but it generally takes about thirty minutes less.
    </p>
    <p>
        There is a pitfall in hand waving the end of a combat encounter, sometimes the group will be so overwhelming
        from the start of a fight the whole thing could be considered inconsequential. I've ended a few fights way 
        too early, and doing so makes it feel like there is no danger in the world. When those fights happen I should
        just let them play out for a while, rather than packing things in so we can move things along. Giving the
        players a fight where they completely dominate can be very enjoyable for them, and reminds them of how
        powerful they have become.
    </p>
    <p>
        Focusing on the intesting stuff has made my 4e campaign really interesting again. So much so, that I've started
        planning out events farther off into the future since I can see them actually happening. I'm not planning
        out the next two encounters anymore, back to far reaching stuff and that's a lot more fun.
    </p>
</article>
<article>
    <header><h1>Moving to Azure</h1></header>
    <div class="subtitle">10/24/2013</div>
    <p>
        Last year, I switched my website over to <a href="https://www.discountasp.net/">DiscountASP.NET</a>
        so I could get back on the .NET stack. I wanted to mess around with the newer versions of .NET that
        had come out, and was also interested in building a site that used <a href="http://ravendb.net/">RavenDB</a>
        for storage. It didn't take very long to get a functioning site out of that move, and then I just
        let it sit and stagnate. Since it felt like I was just throwing money into a black hole, I decided it was time
        to look for something cheaper and thought I'd give <a href="http://www.windowsazure.com">Windows Azure</a>
        a test drive.
    </p>
    <p>
        I had worked with Azure a few years ago on a previous project, but it's changed a lot since then. The 
        management interface is much different, and it looks way more functional now. This should be interesting.
    </p>
</article>
